.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(21, 1fr);
  gap: 2px;
  height: 100%;
  width: 100%;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal {
  background-color: rgb(182, 195, 253);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Asegúrate de que los elementos estén en columna */
  gap: 10px; /* Espacio entre los elementos */
  z-index: 1001;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal input {
  width: 100%; /* Asegúrate de que los inputs ocupen el ancho completo */
  margin-bottom: 10px; /* Espacio entre los inputs */
  padding: 10px; /* Espacio interno para los inputs */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde de los inputs */
}

.modal select {
  width: 100%; /* Asegúrate de que los selects ocupen el ancho completo */
  margin-bottom: 10px; /* Espacio entre los selects */
  padding: 10px; /* Espacio interno para los selects */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde de los selects */
}
